<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Blog</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    >
  </head>
  <body>
    <h1>All Blog Posts</h1>
    <a href="{{ url_for('create_post') }}">Create New Blog Post</a>

    <hr />

    {% if posts %} {% for post in posts %}
    <article>
      <h2>
        <a href="{{ url_for('post', post_id=post['id']) }}"
          >{{ post['title'] }}</a
        >
      </h2>

      <div class="post-meta">
        Published on: {{ post['published_date'] }} {% if post['tags'] %}
        <div class="tags">
          Tags: {% for tag in post['tags'] %}
          <span
            ><a href="{{ url_for('posts_by_tag', tag_name=tag['name']) }}"
              >{{ tag['name'] }}</a
            ></span
          >
          {# Check this line #} {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="post-excerpt">
        <!-- Display first 150 characters as excerpt -->
        <p>
          {{ post['content'][:150] }}{% if post['content']|length > 150 %}...{%
          endif %}
        </p>
      </div>
      <a href="{{ url_for('post', post_id=post['id']) }}">Read More</a>
    </article>
    {% endfor %} {% else %}
    <p>No posts found yet!</p>
    {% endif %}
  </body>
</html>
